
   
    <link rel="stylesheet" href="/css/layout/nav.css">
    <!-------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
    <!-- Offer Section -->
    

    
    <div
      class="space-container"
      style="height: 9vh; background-color: #f8d7da"
    ></div>
    <div class="offer-ads">
      <a href="#">10% OFF YOUR FIRST ORDER WITH CODE GETULIT</a>
    </div>
    <!-------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

    <div class="navbar-placeholder">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <!-- Logo -->
          <a class="navbar-brand" href="/home">
            <img src="/images/logos/black-logo.png" alt="Logo" />
          </a>
    
          <!-- Mobile Toggle -->
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#navbarOffcanvas"
            aria-controls="navbarOffcanvas"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <!-- Offcanvas Menu -->
          <div class="offcanvas offcanvas-start" tabindex="-1" id="navbarOffcanvas">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title">Menu</h5>
              <button
                type="button"
                class="btn-close text-reset"
                data-bs-dismiss="offcanvas"
                aria-label="Close"
              ></button>
            </div>
            <div class="offcanvas-body">
              <!-- Links -->
              <ul class="navbar-nav mb-3">
                <li class="nav-item"><a class="nav-link" href="/home">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                <li class="nav-item">
                  <a class="nav-link" href="/shop">shop</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/contact">Contact</a>
                </li>
              </ul>
              <!-- Icons (Visible only on mobile screens) -->
              <div class="nav-icons d-lg-none">
                  <a href="/cart" class="nav-link">
                    <img src="/images/logos/cart (1).png" alt="Cart" />
                  </a>
                  <a href="/wislist" class="nav-link">
                    <img src="/images/logos/whislist.png" alt="Wishlist" />
                  </a>
                  <a href="/dashboard" class="nav-link">
                    <img src="/images/logos/user.png" alt="User" />
                  </a>
              </div>
            </div>
          </div>
    
          <!-- Desktop Icons (Visible only on larger screens) -->
          <ul class="nav-icons list-unstyled mb-0 d-none d-lg-flex">
              <li>
                <a href="/cart" class="nav-link">
                  <img src="/images/logos/cart (1).png" alt="Cart" />
                </a>
              </li>
              <li>
                <a href="/wislist" class="nav-link">
                  <img src="/images/logos/whislist.png" alt="Wishlist" />
                </a>
              </li>
              <li>
                <a href="/dashboard" class="nav-link">
                  <img src="/images/logos/user.png" alt="User" />
                </a>
              </li>
          </ul>
        </div>
      </nav>
    </div>
    

    