

<link rel="stylesheet" href="/css/admin/layout/aside.css">
<!-- <link rel="stylesheet" href="/css/admin/layout/sidenav.css"> -->

<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet">
<!-- views/partials/sidebar.ejs -->
<div class="sidebar" id="sidebar">
    <div class="sidebar-logo">
        <img src="/images/produts-tactics/LOGO/3.png" alt="Logo">
    </div>
    <nav class="sidebar-nav">
        <ul>
            <li>
                <a href="/admin/dashboard">
                    <i class="bi bi-speedometer2"></i>
                    <span class="nav-text">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/admin/userManagement">
                    <i class="bi bi-people"></i>
                    <span class="nav-text">User Management</span>
                </a>
            </li>
            <li>
                <a href="/admin/productManagement">
                    <i class="bi bi-graph-up"></i>
                    <span class="nav-text">Product Management</span>
                </a>
            </li>
            <li>
                <a href="/admin/category">
                    <i class="bi bi-file-earmark-text"></i>
                    <span class="nav-text">Category Management</span>
                </a>
            </li>
            <li>
                <a href="/admin/CouponManagement">
                    <i class="bi bi-gear"></i>
                    <span class="nav-text">Coupon Management</span>
                </a>
            </li>
            <!-- <li>
                <a href="/notifications">
                    <i class="bi bi-bell"></i>
                    <span class="nav-text">Notifications</span>
                </a>
            </li> -->
            <li>
                <a href="/admin/logout">
                    <i class="bi bi-person"></i>
                    <span class="nav-text">logout</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

<script src="/js/admin/layout/aside.js.js"></script>
<!-- <script src="/js/admin/layout/sidenav.js"></script> -->
